# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
local_settings.py

# Environment
.env
venv/
env/
*.env

# IDE
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db